	<style>
     body {
  background-image: url(/images/login.jpg);
  font-family: 'Open Sans', sans-serif;
}




  .content-container {
      margin-top: 170px;
    padding-left: auto;
  }

  div.transbox {
      
  margin: 30px;
  background-color: #ffffff;
  border: 4px solid black;
  opacity: 0.7;
  height:400px
}

div.transbox h2 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #000000;
}

h1{
    color: #000000;
    font-weight: bold;
    margin-top: 25px;
}


 </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">StockKhareedo.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto pd-6">
      <li class="nav-item active">
        <a class="nav-link" href="/login">Login</a>
      </li>
     <li class="nav-item active">
        <a class="nav-link" href="/register">Sign Up</a>
      </li>
      
      
    </ul>
    
  </div>



</nav>


      <div class="content-container">
    
      <div class="container-fluid">

        <div class="transbox text-center">
          <h2>Welcome to StockKhareedo.com</h2>
          <!-- <h2>Stock Price Prediction Project</h2> -->
          <h3>Here, History predicts the Future</h3>
          <h2>Buy,Sell and Predict</h2>
          
          <!-- {{!-- <h3>Jay Shah (2018140053)</h3>
          <h3>Krushna Shah (2018140054)</h3>
          <h3>Krish Sukhani (2018140059)</h3> --}}
           -->
           <marquee>Joe Biden Becomes the 46th President of USA</marquee>
          <marquee behavior="" direction="" scrolldelay="85">Nissan Magnite Subcompact SUV Prices Leaked Online Before India Launch</marquee>
          <marquee behavior="" direction="" scrolldelay="70">Army Officer, 3 Soldiers Killed in Action; 3 Terrorists Shot Dead in J&K Encounter</marquee>
            <br>
            <br>
          <br>
          <a href="/login"><button class="btn btn-primary">Login</button></a>
          <a href="/register"> <button class="btn btn-primary">Signup</button></a>

        </div>




    

    
      </div>
    </div>

</body>
</html>